<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Stories</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">
</head>
<body>
  <header class="text-center p-3 mb-4 border-bottom">
    <div th:replace="./fragments/nav"></div>
  </header>

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <div class="pb-3 mb-5">
      <h1 class="text-center">Your Stories</h1>
    </div>

    <main>

      <div class="card my-2" th:each="blog : ${ blogs }">
        <h5 class="card-header" th:text="${ blog.disorderName }"></h5>
        <div class="card-body">
          <h5 class="card-title" th:text="${ blog.title }"></h5>
          <p class="card-text" th:text="${ blog.body }"></p>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>

    </main>
  </div>

  <div th:replace="fragments/footer"></div>

  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous">
  </script>
</body>
</html>