<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disorders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>
    <header class="text-center p-3 mb-4 border-bottom">
        <div th:replace="./fragments/nav"></div>
    </header>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <div class="pb-3 mb-5 text-center">
            <h1 class="text-center">Disorders</h1>
        </div>
        <main>
            <table class="table table-striped table-hover align-middle">
                <thead>
                    <tr class="table-dark align-middle">
                        <th>Name</th>
                        <th>Description</th>
                        <th>DSM 5 Page</th>
                        <th>Population Percent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="disorder : ${ disorders }">
                        <td><span th:text="${ disorder.name }"> Name </span></td>
                        <td><span th:text="${ disorder.description }"> Description </span></td>
                        <td><span th:text="${ disorder.dsm5Page }"> DSM 5 Page </span></td>
                        <td><span th:text="${ disorder.populationPercent }"> Population Percent </span></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
    <div th:replace="fragments/footer"></div>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
    </script>
</body>
</html>