<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mental Health</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>
    <header class="text-center p-3 mb-4 border-bottom">
        <div th:replace="./fragments/nav"></div>
    </header>

        <div class="col-lg-8 mx-auto p-4 py-md-5">
            <div class="pb-3 mb-5">
                <h1 class="text-center">Mental Health</h1>
            </div>

            <main class="text-center">
                <p class="fs-5">
                    Welcome to Mental Health Help! Have you or a loved one been struggling with a mental health condition?
                    Here’s you place to learn all about disorders and how other people deal with their own challenges through daily life.
                    Post your struggles to your blog and see how others are like you. You aren’t alone!
                </p>
                <p class="fs-5">
                    This website was inspired by the need to be heard by other people like you, and to try and give basic facts about disorders
                    to those who are just wanting to learn.
                </p>r
            </main>
        </div>

    <div th:replace="fragments/footer"></div>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
    </script>
</body>
</html>