/* Text style sheet for the main website */

body {
    background-color: azure;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;

}

fieldset {
    width: 410px;
    margin: auto;
}


legend {
    font-size: 16px;
    font-weight: bold;
    color: rgb(28,67,14);
}


#Submit {
    width: 100%;
    font-weight: bold;
    background-color: rgb(28,67,14);
    color: white;
    border-radius: 25px;
    padding: 4px;

}
#SignUp {
    width: 100%;
    font-weight: bold;
    background-color: white;
    color: rgb(28,67,14);
    border-radius: 25px;
    padding: 4px;

}
.text-center{
    text-align: center;
    margin-bottom: 10px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
}


